anyio==4.13.0
babel==2.18.0
beancount==3.2.3
beangulp==0.2.0
beanquery==0.2.0
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2026.4.22
chardet==7.4.3
charset-normalizer==3.4.7
cheroot==11.1.2
click==8.3.3
fava==1.30.12
flask==3.1.3
flask-babel==4.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
itsdangerous==2.2.0
jaraco-functools==4.4.0
jinja2==3.1.6
lxml==6.1.0
markdown2==2.5.5
markupsafe==3.0.3
more-itertools==11.0.2
numpy==2.4.6
ply==3.11
python-dateutil==2.9.0.post0
python-magic==0.4.27
python-telegram-bot==22.7
pytz==2026.2
pyyaml==6.0.3
regex==2026.4.4
requests==2.33.1
simplejson==3.20.2
six==1.17.0
soupsieve==2.8.3
sqlite-vec==0.1.9
tatsu-lts==5.16.0
typing-extensions==4.15.0
urllib3==2.7.0
watchfiles==1.1.1
werkzeug==3.1.8
